<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921308775778-pbaoiddav15bd7s3nanrfa7p7pllim1p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921308775778-pbaoiddav15bd7s3nanrfa7p7pllim1p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>921308775778-i5l26ai77sa9cd2con0ql0nel43s3fhp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDlQkAtSXEWofEdCxp6cHHpCpCWDQtcpdg</string>
	<key>GCM_SENDER_ID</key>
	<string>921308775778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quicklify.app</string>
	<key>PROJECT_ID</key>
	<string>quicklify-app</string>
	<key>STORAGE_BUCKET</key>
	<string>quicklify-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921308775778:ios:bf5bbbc58dcbb5dbbd983b</string>
</dict>
</plist>